*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.page-container{
  position: relative;
  min-height: 100vh;
}

.content-wrap{
    padding-bottom: 2em;
}

nav{
    padding:0 4em;
    background-color: lightslategrey;
}

nav ul{
  width:100%;
  display: flex;
  justify-content: flex-end;
}

nav li{
    list-style: none;
    padding:1em;
}

nav li:hover{
    background-color: rgb(130, 148, 167);
}

nav a{
    padding:1em 0em;
    text-decoration: none;
    color:white;
}

main{
  display: flex;
  justify-content: center;
  width:100%;
  height: 100%;
}

.main-content{
  display: flex;
  justify-content: center;
  margin:5em;
  width:75%;
  height: auto;
}

.product{
  margin:1em;
  padding:1em;
  min-width: 400px;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.product button{
  cursor: pointer;
  border:none;
  color:white;
  padding:1em 1em;
  background-color: rgb(80, 71, 138);
}

.cart button{
  cursor: pointer;
  border:none;
  color:white;
  padding:1em 0em;
  min-width:150px;
  background-color: rgb(80, 71, 138);
  transition: .2s;
}

.cart button:hover{
  background-color: rgb(221, 90, 90);
  transition: .2s;
}

.product button:hover{
  background-color: rgb(98, 91, 139);
}
.product-image-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-image-container img{
  width: 200px;
}

.product button{
  display: block;
  width:25%;
  margin:20px auto;
}

.view-product-btn{
  border-radius: 5px;
  background-color: rgb(87, 167, 107) !important;
}

.view-product-btn:hover{
  border-radius: 5px;
  background-color: rgb(125, 202, 144) !important;
}

.view-product-btn a{
  padding:1em 1.25em;
  text-decoration: none;
  color:white;
}

.product p,h3,h4,h5{
  margin:.5em;
}

.image-slider{
  overflow: hidden;
}

.image-slider button{ 
  position: absolute; 
  opacity: 70%;
  background-color: rgba(0,0,0,.4);
  width:50px;
  height: 50px;
}

.image-slider button:hover{  
  opacity: 85%;
}

.slider-btn-left{
  left:50px;
  bottom:40%;
}

.slider-btn-right{
  right:50px;
  bottom:40%;
}

.cart{
  margin:1em;
  padding:1em;
}

.cart button{
  display: block;
  width:25%;
  margin-left: auto;
}

.cart-product{
  display: flex;
  margin:1em;
  padding:1em;
  min-width: 400px;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.cart-product-img-container img{
  width: 200px;
}

.cart-product-img-container{
  padding-left:.5em;
  border-right: 2px solid #8294a7;
}

.cart-product-content{
  padding-left:.5em;
}

.admin-panel{
  max-width: 700px;
  min-width: 700px;
  border-radius: 8px;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.admin-panel form{
  padding:1em;
}

.admin-panel .form-control{
    padding:.4em;
}

.manage-products{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manage-products div{
  display: flex;
  margin: .1em 0em;
  flex-grow: 1;
}

.manage-products .product-el:first-child{
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.manage-products .product-el + .product-el{
  border-bottom: 1px solid darkgray;
}

.prod-description{
  padding:.4em;
  min-width: 280px;
  max-width:280px;
  min-height: 50px;
  max-height: 250px;
}

.prod-url{
  padding: .4em;
  min-width: 550px;
  max-width:550px;
  min-height: 50px;
  max-height: 150px;
}

/* EDITING PANEL */

.editing-panel{
  max-width:100%;
  padding:1em 1em;
  display: flex;
  flex-direction: column;
  align-items: none;
  background-color: lightgray;
}

.editing-panel p{
  text-align: left;
}

.product-el-buttons{
  display: flex;
  align-items: center;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}
.editing-cancel-btn{
  cursor: pointer;
  width:fit-content;
  font-size: 22px;
  border:none;
  background-color: lightgray;
  color:rgb(211, 67, 67);
  margin-left:auto;
}

.editing-cancel-btn:hover{
  color:rgb(247, 40, 40);
} 

.editing-panel form{
  padding:1em 0em;
}

.editing-panel .form-control{
  padding: .4em 0em;
}

.footer{
  position: absolute;
  bottom:0;
  width:100%;
  height: 2.5em;
  background-color: lightslategrey;
}